$dark-gray: #2C2C2D;
$slate-gray: #4C4C4C;
$light-gray: #F7F7F7;
$dark-blue: #090E12;
$dark-orange: #CC4F00;
$orange: #FE7620;


// custom colours map
$custom-colours: (
  dark-gray: $dark-gray,
  slate-gray: $slate-gray,
  light-gray: $light-gray,
  dark-blue: $dark-blue,
  dark-orange: $dark-orange,
  orange: $orange
);

// mixin that generates custom colour utility classes
@mixin custom-color-classes {
  @each $name, $hex in $custom-colours {
    &-#{$name} {
      color: $hex;
    }
  }
}
.text, .c {
  @include custom-color-classes;
}
////////////////


// mixin that generates background colour utility classes
@mixin custom-bg-color-classes {
  @each $name, $hex in $custom-colours {
    &-#{$name} {
      background-color: $hex;
    }
  }
}
.bg{
  @include custom-bg-color-classes;
}
////////////////


// mixin that generates hover colors
@mixin custom-hover-color-classes {
  @each $name, $hex in $custom-colours {
    &-#{$name} {
      transition: all 0.2s ease-in-out;
      &:hover{
        color: $hex !important;
      }
    }
  }
}
.hover{
  @include custom-hover-color-classes;
}
////////////////




