@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Raleway:wght@300;400;500;600;700&display=swap');


$font-family-raleway: "Raleway", sans-serif;
$font-family-inter: "Inter", sans-serif;

$font-weight-700: 700;
$font-weight-600: 600;
$font-weight-500: 500;
$font-weight-400: 400;
$font-weight-300: 300;

$font-size-36: 36px;
$font-size-30: 30px;
$font-size-26: 26px;
$font-size-24: 24px;
$font-size-20: 20px;
$font-size-18: 18px;
$font-size-17: 17px;
$font-size-16: 16px;
$font-size-15: 15px;
$font-size-14: 14px;
$font-size-13: 13px;
$font-size-12: 12px;
$font-size-10: 10px;

$line-height-100: 100%;

// add to the BS utility classes
$utilities: () !default;
$utilities: map-merge((
  'font-family':(
    property: font-family,
    class: font,
    values: (
      inter: $font-family-inter,
      raleway: $font-family-raleway
    )
  ),
  "font-weight": (
    property: font-weight,
    class: fw,
    values: (
      700: $font-weight-700,
      600: $font-weight-600,
      500: $font-weight-500,
      400: $font-weight-400,
      300: $font-weight-300
    )
  ),
  "font-size": (
    property: font-size,
    class: fs,
    responsive: true,
    values: (
      36: $font-size-36,
      30: $font-size-30,
      26: $font-size-26,
      24: $font-size-24,
      20: $font-size-20,
      18: $font-size-18,
      17: $font-size-17,
      16: $font-size-16,
      15: $font-size-15,
      14: $font-size-14,
      13: $font-size-13,
      12: $font-size-12,
      10: $font-size-10
    )
  ),
  "line-height": (
    property: line-height,
    class: lh,
    values: (
      100: $line-height-100
    )
  )
), $utilities)