.object-fit-cover{
  height: 100.01% !important;
  width: 100% !important;
  object-fit: cover !important;
  display: block !important;
  position: relative !important;
  top: 0 !important;
}

.object-fit-contain{
  object-fit: contain;
}