.my-form{

  input{
    margin-bottom: 30px;
    width: 100%;
    box-sizing: border-box;
    padding: 13px 30px !important;

    cursor: pointer;

    border: 1px solid $dark-orange;
    box-shadow: none;
    border-radius: 0px;
    outline: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;

    background-color: $dark-orange;

    color: white;
    font-family: $font-family-raleway;
    font-size: 18px;
    line-height: 118%;
    font-weight: 500;

    &:focus {
      border: 1px solid white;
    }

    &::placeholder {
      color: white;
      font-family: $font-family-raleway;
      font-size: 18px;
      line-height: 118%;
      font-weight: 500;
    }
  }

  input[type=submit]{
    width: fit-content !important;
    max-width: 100%;
    padding: 15px 40px !important;

    background-color: white;
    border-color: white !important;
    font-weight: 500;
    line-height: 100% !important;
    color: $orange;
    border-radius: 57px;
    transition: all 0.5s ease;

  }

  textarea{
    margin-bottom: 30px;
    width: 100%;
    height: 200px;
    box-sizing: border-box;
    padding: 30px 30px !important;

    cursor: pointer;

    border: 1px solid $dark-orange;
    box-shadow: none;
    border-radius: 0px;
    outline: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;

    background-color: $dark-orange;

    color: white;
    font-family: $font-family-raleway;
    font-size: 18px;
    line-height: 118%;
    font-weight: 500;

    resize: none;
    overflow: auto;

    &:focus {
      border: 1px solid white;
    }

    &::placeholder {
      color: white;
      font-family: $font-family-raleway;
      font-size: 18px;
      line-height: 118%;
      font-weight: 500;
    }
  }

  select{
    position: relative;
    margin-bottom: 30px;
    width: 100%;
    box-sizing: border-box;
    padding: 13px 30px !important;

    border: 1px solid $dark-orange;
    box-shadow: none;
    border-radius: 0px;
    outline: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;

    background-color: $dark-orange;

    background-image: url("../img/angle-down-white.svg"),
            linear-gradient(to bottom, $dark-orange 100%, $dark-orange 100%);
    background-repeat: no-repeat, repeat;
    background-position: right 30px top 55%, 0 0;
    background-size: 24px auto, 100%;

    color: white;
    font-family: $font-family-raleway;
    font-size: 18px;
    line-height: 118%;
    font-weight: 500;

    option{
      color: white;
      font-family: $font-family-raleway;
      font-size: 18px;
      line-height: 118%;
      font-weight: 500;
    }

    &:focus {
      border: 1px solid white;
    }
  }

  @include media-breakpoint-down(sm){
    input{
      font-size: 14px;

      &::placeholder{
        font-size: 14px;
      }
    }

    input[type=submit]{
      font-size: 14px;
    }

    textarea{
      font-size: 14px;

      &::placeholder{
        font-size: 14px;
      }
    }

    select{
      font-size: 14px;

      option{
        font-size: 14px;
      }
    }
  }
}