#enquiry-section{

  #enquiry-form-wrap{
    position: relative;
    top: -100px;

    width: 100%;
    max-width: 670px;
    background-color: white;
    box-shadow: 0px 6px 70px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    padding: 90px 60px;
  }

  @include media-breakpoint-down(lg){
    #enquiry-details-wrap{
      padding-top: 0 !important;
    }
    #enquiry-details{
      h1{
        text-align: center;
      }
    }
  }
}