#footer-wrap{

  .footer-main{

    #footer-main-logo{
      img{
        width: 100%;
        max-width: 350px;
      }
    }

    #footer-main-text{
      width: 100%;
      max-width: 450px;
    }
  }

  .footer-small{
    border-top: 1px solid #707070;
  }


}