#niche-services-wrap{

  .niche-service{
    height: 100%;
    width: 100%;
    cursor: pointer;
    overflow: hidden;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: max-content 1fr max-content;


    &__overlay{
      background-color: black;
      opacity: 0.6;
      width: 100%;
      height: 100%;
      grid-row: 1 / span 3;
      grid-column: 1 / span 1;
      z-index: 1;
      transition: opacity 0.2s ease-in-out;
    }

    &__h{
      grid-row: 1 / span 1;
      grid-column: 1 / span 1;
      z-index: 10;

      &::after{
        content: "";
        display: block;
        width: 85px;
        max-width: 90%;
        height: 2.5px;
        background-color: $orange;
        margin: 15px auto 0 auto ;
      }
    }

    &__text{
      grid-row: 2 / span 1;
      grid-column: 1 / span 1;
      justify-self: center;
      z-index: 10;

      max-width: 330px;
    }

    &__btn{
      grid-row: 3 / span 1;
      grid-column: 1 / span 1;
      justify-self: center;
      height: 47px;

      z-index: 10;

      a{
        width: 47px;
        height: 47px;
        border-radius: 50%;
        border: 1px solid white;
        text-decoration: none;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;

        transition: all 0.2s linear;
        transform: translateY(100px);
      }

    }

    &--1{
      background-image: url("../img/cars-3.jpg");
    }

    &--2{
      background-image: url("../img/cars-4.jpg");
    }

    &--3{
      background-image: url("../img/cars-5.jpg");
    }

    &:hover{
      .niche-service__overlay{
        opacity: 0.8;
      }
      .niche-service__btn{
        a{
          transform: translateY(0px);
        }
      }
    }

  }

  @include media-breakpoint-down(lg){
    .niche-service{
      max-width: 500px;

      &__h{
        &::after{
          width: 70px;
          height: 1.5px;
        }
      }
    }
  }

  @include media-breakpoint-down(sm){
    .col-12{
      padding: 0 !important;
    }
  }
}